# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# Flutter/Dart
/build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
pubspec.lock

# IDEs
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Android
/android/app/build/
/android/build/
/android/.gradle/
/android/key.properties
/android/local.properties

# iOS
/ios/build/
/ios/Pods/
/ios/Podfile.lock
/ios/.symlinks/
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
